{% extends 'posts/base.html'%}
{% load posts_extras %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
        <div class="hero-text">
            <div class="hero-content">
                <h1>Бокс в Казахстане</h1>
                <p>Более массовый вид спорта — это бокс.
                    В этом олимпийском виде казахстанские спортсмены добились самых высочайших результатов.
                    Традиционно сильна ещё с советских времен карагандинская школа мастеров кожаной перчатки.
                    Имена нынешних чемпионов знают не только в Казахстане.
                    Серик Жумангалиевич Сапиев — воспитанник абайской спортивной школы бокса (Карагандинская область).
                    Наталья Рогозина, Геннадий Головкин, Василий Жиров.
                    Это спортсмены-карагандинцы, прославившие независимый Казахстан на международной арене.
                </p>
                <ul>
                    {% show_boxing %}
                </ul>
                <a class="btn btn-outline-primary" href="{% url 'create_boxing' %}">Add sportsmen</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
{% endblock %}