{% for post in posts %}
    <li>
        <h2>{{ post.title }}</h2>
        {% autoescape off %}
        <p>{{ post.content|linebreaks|truncatewords:10}}</p>
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="wrestling/{{ post.slug }}">Читать больше>>></a></p>
        <a href="update_wrestling/{{post.id}}" class="btn btn-outline-primary" id="{{post.id}}">Edit</a>
        <a href="delete_wrestling/{{post.id}}" class="btn btn-outline-primary" id="{{post.id}}">Delete</a>
        <hr>
    </li>
{% endfor %}